* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e8eaef;
    font-family: fantasy;
    font-size: 18px;
}

.container {
  margin: 20% auto 0 auto;
  max-width: 1140px;
  width: 90%;
}

h1, h2 {
    color: #1c15b9;    
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

#author-text img {
    width: 100px;
    hight: 100px;
    border-radius: 60%;
    font-size: 25px;
    margin-botton: 20px;
}

.blog-post {
    background-color: forestgreen;
    width: 75%;
    float: left;
}

.other-posts {
    width: 25%
        float: left;
}
